body {
  background-color: #000000; 
} 
nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #76b900;
  cursor: pointer;

}

.Productline {
  display: flex; 
  gap: 20px; 
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 20px;

}

.product-grid {
  display: flex;
  justify-content: space-around;
}

.product-card {
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  width: 200px;
  border-radius: 3%;
  
}

.product-card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 3%;
}

p{
  color: #ffffff;
}

h2{
  color: #ffffff;
}

h3{
  color: #ffffff;
}

/* App.css */
ul li {
  color: #ffffff; /* Replace with your desired text color */
}

button {
  padding: 10px;
  margin:20px;
  background-color: #76b900;
  border: none;
  cursor: pointer;
  color: #000000;
  border-radius: 10%;
}

button.disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
